<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row col-5">
  <h4 class="fw-bold text-center mt-3"></h4>
  <form class=" bg-white px-4" action="">
    <p class="fw-bold">Q5. 어떤 상황에서 술을 마시고 있나요?</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1">
        친구들과 술을 마음껏 마시고 싶어요
      </label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2">
        분위기 좋은 곳에서 고급스럽게 먹고 싶어요
      </label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample4" />
      <label class="form-check-label" for="radioExample4">
        '말리지마' 슬플 때 먹고 싶어요
      </label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample5" />
      <label class="form-check-label" for="radioExample5">
        가볍게 한 잔 할 때
      </label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample6" />
      <label class="form-check-label" for="radioExample6">
        혼자 먹고 싶어요
      </label>
    </div>
    <div class="text-end">
      <button type="button" class="btn btn-primary" onclick="location.href='fourth.html'">&lt;prev</button>
      <button type="button" class="btn btn-primary" onclick="location.href='loading.html'">next&gt;</button>
    </div>
  </form>

</div>
</body>
</html>