<html>
<head>
    <title>drink_recommend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h1>주류 조합 추천</h1>
<div class="agile-its">
    <small>총 소요시간 1분</small>
    <div class="w3layouts">
        <div class="photos-upload-view">
            <button type="button" onclick="location.href='first.html'">시작하기</button>
        </div>
    </div>
</div>
</body>

</html>