<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class=" bg-white px-4" action="">
        <p class="fw-bold">Q2. 어떤 맛으로 즐기고 싶나요?</p>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
            <label class="form-check-label" for="radioExample1">
                달달한 맛
            </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
            <label class="form-check-label" for="radioExample2">
                술 맛
            </label>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-primary" onclick="location.href='first.html'">&lt;prev</button>
            <button type="button" class="btn btn-primary" onclick="location.href='third.html'">next&gt;</button>
        </div>
    </form>

</div>
</body>
</html>