<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row col-5">
    <h4 class="fw-bold text-center mt-3"></h4>
    <form class=" bg-white px-4" action="">
        <p class="fw-bold">Q3. 원하는 술(음료) 종류가 있나요?</p>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
            <label class="form-check-label" for="radioExample1">
                탄산음료
            </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
            <label class="form-check-label" for="radioExample2">
                소주
            </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radioExample4" />
            <label class="form-check-label" for="radioExample4">
                맥주
            </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radioExample5" />
            <label class="form-check-label" for="radioExample5">
                와인
            </label>
        </div>
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radioExample6" />
            <label class="form-check-label" for="radioExample6">
                칵테일
            </label>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-primary" onclick="location.href='second.html'">&lt;prev</button>
            <button type="button" class="btn btn-primary" onclick="location.href='fourth.html'">next&gt;</button>
        </div>
    </form>

</div>
</body>
</html>